<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PowerManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
 <userSettings>
  <PowerManager.Properties.Settings>
   <setting name="runOnStartup" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="MinToTrayWhenOpening" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="MinToTrayWhenClosing" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="MainTimerReminderEnabled" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="MainTimerReminderTimeInSeconds" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="PcIdleReminderEnabled" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="PcIdleReminderAction" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="PcIdleReminderTimeInSeconds" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="MainTimerReminderDisabledAfterGoinOn" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="DisableIdleWhenTimerRunning" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="Show1MnWarning" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="ModeDev" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="ReminderTimerInStatusBar" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="IdleTimerStatusInStatusBar" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="ModeTestForLockPc" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="ModeTestForClosePC" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="isClosing" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="Theme" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="DarkThemeColor" serializeAs="String">
    <value>64, 64, 64</value>
   </setting>
   <setting name="DisableReminderWhenMainTimerStops" serializeAs="String">
    <value>False</value>
   </setting>
  </PowerManager.Properties.Settings>
 </userSettings>
</configuration>